{% if (app.user.reservedShifts | length) > 0 %}
    <h5>Mes créneaux à accepter</h5>
    {% for shift in app.user.reservedShifts %}
        {% include "booking/_partial/reserved_shift.html.twig" with { shift: shift  } %}
    {% endfor %}
{% endif %}

<h5>Mon bénévolat</h5>

{% if  app.user.timeCount < 0 %}
    <p><i class="material-icons">warning</i> Tu as du retard sur ton bénévolat. Penses à réserver tes créneaux.</p>
{% else %}
    {% if  app.user.timeCount < app.user.maxTimeCount %}
        <p><i class="material-icons">warning</i> Penses à réserver tes créneaux. Tu as encore {{ (app.user.maxTimeCount - app.user.timeCount) | duration_from_minutes }} à réserver.</p>
    {% else %}
        <p><i class="material-icons">stars</i> Bravo ! Tous tes créneaux ont été planifiés sur le cycle actuel !</p>
    {% endif %}
{% endif %}

<a href="{{ path("booking") }}" class="btn teal" {% if (not app.user.canBook()) %}disabled{% endif %}>Je réserve un créneau</a>

<p>Mon cycle actuel se termine le {{ app.user.endOfCycle |date_fr_long }}</p>

<div class="row">
{% for cycle in 0..1 %}
    {% for shift in app.user.getShiftsOfCycle(cycle) %}
        <div class="col m6 s12">
            {% include "booking/_partial/home_shift.html.twig" with { shift: shift  } %}
        </div>
    {% endfor %}
{% endfor %}
</div>

{% if (app.user.getFutureRebookedShifts() | length) != 0 %}<h5>Mes créneaux annulés et repris par un autre bénévole</h5>{% endif %}

<div class="row">
{% for bookedshift in app.user.getFutureRebookedShifts() %}
    <div class="col m6 s12 {% if (app.user.getFutureRebookedShifts() | length) < 2 %}push-m3{% endif %}">
        <div class="card green lighten-5">
            <div class="card-content green-text">
                <span class="card-title">{{ bookedshift.start|date_fr_long }}</span>
                <p>De {{ bookedshift.start|date('H:i') }} à {{ bookedshift.end|date('H:i') }}</p>
                <p>Créneau repris</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
