{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">date_range</i><span>Créneaux</span>
{% endblock %}

{% block content %}

    {% if beneficiary is not defined %}
        <div class="row center">
            <h5 class="col s12">Qui programme son bénévolat ?</h5>
            <div class="col s12 m6 push-m3">
                {{ form_start(beneficiary_form) }}
                {{ form_widget(beneficiary_form) }}
                <button type="submit" class="btn waves-effect">Choisir</button>
                {{ form_end(beneficiary_form) }}
            </div>
        </div>
    {% else %}
        <div class="row center">
            <h4 class="header">Créneaux disponibles pour <span
                        class="teal-text">{{ beneficiary.firstname }}</span>{% if (app.user.beneficiaries | length > 1) %}
                <a href="{{ path("booking") }}" style="font-family: 'Raleway', sans-serif; font-size: 12px;">[ changer
                    ]</a>{% endif %}</h4>
            <p>Mon cycle actuel commence le <b>{{ app.user.startOfCycle |date_fr_long }}</b> et termine
                le <b>{{ app.user.endOfCycle |date_fr_long }}</b></p>
        </div>
        <div class="row">
            <ul class="collapsible" data-collapsible="accordion" id="legend">
                <li>
                    <div class="collapsible-header {% if not frontend_cookie or not frontend_cookie.booking or not frontend_cookie.booking.legend_closed %}active{% endif %}"><i class="material-icons">help_outline</i>legende</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <i class="material-icons tiny">star_border</i> Créneau à reprendre, aide un bénévole en galère !
                            </li>
                            <li>
                                <i class="material-icons tiny green-text">person</i>/<i class="material-icons tiny grey-text">person</i> Place disponible / indisponible
                            </li>
                            <li>
                                <i class="material-icons tiny green-text">account_circle</i>/<i class="material-icons tiny grey-text">account_circle</i> Place à rôle (resource, ambassadeur...) disponible / indisponible
                            </li>
                            <li class="row">
                                {% for job in jobs %}
                                <div class="col s4">
                                    <div style="padding: 3px;margin:5px"
                                     class="{{ job.color }} z-depth-1 lighten-5 valign-wrapper">
                                    <p>{{ job.name }}</p></div>
                                </div>
                                {% endfor %}
                            </li>
                            <li class="row">
                                <div class="col s4">
                                    <div style="padding: 3px;margin:5px"
                                         class="z-depth-1 lighten-5 valign-wrapper">
                                        <p>Aucun bénévole inscrit</p>
                                        <span class="red-text"><i class="material-icons tiny">warning</i>&nbsp;sous-effectif</span>
                                    </div>
                                </div>
                                <div class="col s4">
                                    <div style="padding: 3px;margin:5px"
                                         class="z-depth-1 lighten-5 valign-wrapper">
                                        <p>Pas assez de bénévoles inscrits pour ouvrir</p>
                                        <span class="orange-text"><i class="material-icons tiny">warning</i>&nbsp;sous-effectif</span>
                                    </div>
                                </div>
                                <div class="col s4">
                                    <div style="padding: 3px;margin:5px;cursor: not-allowed"
                                         class="z-depth-1 grey lighten-3 valign-wrapper grey-text text-lighten-1">
                                        <i class="material-icons tiny">lock</i>
                                        <p class="black-text">Créneau complet ou inaccessible pour {{ beneficiary.firstname }} <small>(quota d'heures dépassé ou formation insuffisante)</small></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        {% if dismissedShifts | length %}
        <div class="row">
            <ul class="collapsible" data-collapsible="expandable" id="dismissed">
                <li>
                    <div class="collapsible-header active"><i class="material-icons">star_border</i>Créneau à reprendre, aide un bénévole en galère !</div>
                    <div class="collapsible-body row">
                        {% for shift in dismissedShifts %}
                            {% if app.user.canBook(beneficiary,shift) %}
                            <div class="col s6 m3">
                                {% include "booking/_partial/shift_alone.html.twig" with { shift: shift } %}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
        {% endif %}
        {% include "booking/_partial/list.html.twig" with { bucketsByDay: bucketsByDay } %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <style>
        .collapsible-header.not-allowed{
            cursor: not-allowed;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>
        jQuery(function () {
            $('.collapsible li').click();
            $('#legend .collapsible-header').on('click',function () {
                var data_raw = Cookies.get("frontend");
                var data = undefined;
                if (data_raw)
                    data = JSON.parse(data_raw);
                if (!data)
                    data = {};
                if (!data.booking)
                    data.booking = {};
                data.booking.legend_closed = $(this).hasClass("active");
                Cookies.set("frontend",data);
            });
            //todo put it server side
            if ($('#dismissed .collapsible-header div').length < 1){
                $('#dismissed').hide();
            }
        });
    </script>
{% endblock %}
