{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">build</i><span>Outils adhésion et ré-adhésion</span>
{% endblock %}

{% block content %}
    {% if is_granted("access_tools",app.user)  %}
        <div class="center">
            <a href="{{ path('user_new') }}" class="waves-effect waves-light green btn"><i class="material-icons left">person_add</i>Nouvelle adhésion</a>
            <a href="{{ path('find_user_number') }}" class="waves-effect waves-light orange btn"><i class="material-icons left">search</i>Trouver un numéro d'adhérent</a>
            <a href="{{ path('user_edit_firewall') }}" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Editer un adhérent</a>
        </div>
    {% endif %}
    {% if is_granted("view",app.user)  %}
    <div class="center">
        <a href="{{ path('ambassador_phone_list') }}" class="waves-effect waves-light teal btn"><i class="material-icons left">phone</i>Appeler pour réadhésions</a>
    </div>
    {% endif %}
    {% if is_granted("access_tools",app.user)  %}
        <div class="center">
            <a href="#post-it_new" class="waves-effect waves-light yellow black-text btn modal-trigger"><i class="material-icons left">add</i>Post-it</a>
        </div>
        <div id="post-it_new" class="modal  modal-fixed-footer">
            {{ form_start(note_form, {'attr': {'id': 'new-note-form' }}) }}
            <div class="modal-content">
                <h4>Nouveau post-it</h4>
                <p>Laisse une note pour le bureau des membres</p>
                {{ form_widget(note_form) }}
            </div>
            <div class="modal-footer">
                <a href="#!"
                   class="modal-action modal-close waves-effect waves-green btn-flat red-text ">Annuler</a>
                <button onclick="document.getElementById('new-note-form').submit();" class="waves-effect waves-green btn teal ">Ajouter</button>
            </div>
            {{ form_end(note_form) }}
        </div>
    {% endif %}
    <div class="row">
        {% for note in notes %}
            {% if not note.parent %}
                <div class="col s12 m6 l4 xl3">
                    {% include "default/tools/_postit.html.twig" with { note: note } %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/app/markdown-editor/editor.js') }}"></script>
    <script src="{{ asset('bundles/app/markdown-editor/marked.js') }}"></script>
    <script>
        new Editor({
            element: document.getElementById('appbundle_note_text'),
        });
        $('form.reply textarea').each(function () {
            new Editor({
                element: this,
            })
        });
        $('form.edit-post-it textarea').each(function () {
            new Editor({
                element: this,
            })
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/markdown-editor/editor.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/post-it.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
{% endblock %}
