/*
 * Shifts
 */
.shift {
  width: 80%;
  margin: auto;
  border: solid 1px;
  border-radius: 10px;
}
.shift-block {
  font-size: 11px;
  padding: 2px 3px 0 3px;
  width: 100%;
}
.shifter {
  font-size: 16px;
  width: 10px;
}
.shift-with-role {
  color: #ff1744;
}
.shift-bucket {
  position: absolute;
  padding: 0 1px;
}
.shift-bucket:hover {
  z-index: 999;
}
/*
 * Time counter
 */
.time-counter {
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.time-counter div {
  display: block;
  height: 22px;
  background-color: #659cef;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
  text-align: right;
}
.time-counter div span {
  padding-right: 10px;
}
