<div
        {% set nbShifter = bucket.shifterCount() %}
        {% set nbShifts = bucket.shiftsCount() %}
        {% set nbBookableShifts = bucket.bookableShiftsCount() %}
        {% set nbBookedShifts = nbShifts - nbBookableShifts %}
        {% set firstBookableShift = bucket.firstBookable(beneficiary) %}
        data-offset="{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60) }}"
        data-length="{{ (100/(end-start+1)) }}"
        style="width:{{ (bucket.duration / 60) * (100/(end-start+1)) }}%;
                left:{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60)*(100/(end-start+1)) }}%;
                top: {{ line*10 }}px;" class="shift-bucket">
    <a href="#{% if firstBookableShift %}book{{ firstBookableShift.id }}{% endif %}"
       class="modal-trigger tooltipped" data-position="top" data-delay="100"
       data-tooltip="{{ bucket.sortedShifts.first.job.name }}">
        <div class="z-depth-1 {{ bucket.sortedShifts.first.job.color }} lighten-5 black-text"
             style="position: relative">
            <div class="shift-block">
                {{ bucket.start|date('G\\hi') }} - {{ bucket.end|date('G\\hi') }}
                {% if (nbShifter == 0) %}
                    <span class="red-text"><i class="material-icons tiny">warning</i>&nbsp;sous-effectif</span>
                {% elseif (nbShifter < nbShifts/2) %}
                    <span class="orange-text"><i class="material-icons tiny">warning</i>&nbsp;sous-effectif</span>
                {% endif %}
                {% if nbBookableShifts == 0 %}
                    <span class="green-text"><i class="material-icons tiny">check</i>&nbsp;complet</span>
                {% endif %}
            </div>
            <div class="shift-block">
                {% for shift in bucket.sortedShifts %}
                    <span><i class="material-icons shifter {% if (app.user and not app.user.canBook(beneficiary,shift)) or (not app.user and shift.shifter) %}grey-text {% else %}{% if (app.user)%}green{% else %}red{% endif %}-text {% endif %}">{% if shift.role %}account_circle{% else %}person{% endif %}</i></span>
                {% endfor %}
                {% if firstBookableShift and firstBookableShift.isDismissed %}
                    <span style="margin-left: 8px;"><i class="material-icons tiny">star_border</i></span>
                {% endif %}
            </div>
        </div>
    </a>
</div>
{% if firstBookableShift %}
    {% include "booking/_partial/modal.html.twig" with { beneficiary: beneficiary, user: app.user, bucket: bucket } %}
{% endif %}